body{
    background-color: darkolivegreen;
    font-family: 'Times New Roman', Times, serif;
    color: brown;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: chocolate;
}